@charset "UTF-8";

/*
#c5ebd6   verde mais claro
#83e1ad
#3ddc84
#2fa866
#1a5c37
#063d1e  verdo mais escuro
*/
/* Importando fontes do google fontes */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/*Importando fonta que esta baixada */
@font-face {
   font-family: 'Android';
   src: url(../fontes/idroid.otf) format('opentype');
   font-weight: normal;
}


:root{
   --cor0: #c5ebd6;   
   --cor1: #83e1ad;
   --cor3: #3ddc84;
   --cor4: #2fa866;
   --cor5: #1a5c37;
   --cor6: #063d1e;

   --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
   --fonte-destaque:'Bebas Neue', cursive;
   --fonte-android: 'Android', cursive;

}

*{
   margin: 0px;
   padding: 0px;
}
 body{
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
 }

a.externo::after{
  content: '\00A0\1F517';
}

header{
   background-image: linear-gradient(to bottom, var(--cor1), var(--cor5));
   /* Altura minima*/
   min-height: 150px;
   text-align: center;
}
 header > h1{
   color: whitesmoke;
   font-family: var(--fonte-destaque);
   padding-top: 30px;
   /*Dar um espaço inferior*/
   margin-bottom: 18px;
   font-size: 3em;
   text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.498);
 }

 header > p{
   color: whitesmoke;
   font-family: var(--fonte-padrao);
   font-size: 1.2em;
   /*Para centralizar*/
   margin: auto;
   max-width: 600px;
   padding-left: 10px;
   padding-right: 10px;
   padding-bottom: 30px;
   text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.283);
   font-weight: normal;
   
 }

 nav{
   background-color: var(--cor5);
   padding: 10px;
   box-shadow: opx 7px 7px black;

 }

 nav >a{
  color: var(--cor0);
  text-decoration: none;
  padding: 10px;
  font-weight: bold;
  transition-duration: 0.3s;
 }
 nav > a:hover{
  background-color: var(--cor6);
  color: var(--cor1);
  border-radius: 5px;
 }
 main{
   background-color: whitesmoke;
   min-width: 300px;
   max-width: 1000px;
   margin: auto;
   padding: 20px;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.888);
   margin-bottom: 25px;
   border-bottom-left-radius: 10px ;
   border-top-right-radius: 10px;
 }

 main > article > h1{
   color: var(--cor5);
   font-family: var(--fonte-android);
   font-size: 1.8em;
   
 }
 main img{
  width: 100%;
 }
 main img.pequena{
  display: block;
  max-width: 350px;
  margin: auto;
 }

 main h2{
   font-family: var(--fonte-android);
   font-size: 1.2em;
   background-image: linear-gradient(to right, var(--cor1), transparent);
   color: #166037;
   text-indent: 8px;
   font-weight: normal;
 }

 main p{
  margin: 15px 0px;
  text-align: justify;
  text-indent: 30px;
  line-height: 1.6em;
  font-size: 1.05em;

 }
 main strong{
  color: var(--cor6);
  font-weight: bold;
  
 }
 main a {
  text-decoration: none;
  background-color: var(--cor1);
  padding: 2px 5px;
  border-radius: 3px;
  color: var(--cor5);
 }

 main a:hover{
  text-decoration: underline;
  color: var(--cor3);
 }

 div.video{
  background-color: var(--cor5);
  margin: 0px -20px 30px -20px;
  padding: 20px;
  padding-bottom: 58%;
  position: relative;
 }
div.video > iframe{
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
}
aside a {
  background-color: #3ddc84;
  font-weight: bolder;
}
 aside{
  background-color: #3ddc84;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.274);
 }

 aside > h3{
  background-color: var(--cor5);
  color: whitesmoke;
  padding: 7px;
  margin: -10px -10px 0px -10px;
  border-radius: 10px 10px 0px 0px;
 }
 aside ul{
  list-style-type: '\2714\00A0\00A0';
  list-style-position: inside;
  columns: 2;
 }
footer{
  background-color: var(--cor6);
  color: whitesmoke;
  text-align: center;
  font-size: 0.8em;
  padding: 7px;
}

footer  a {
  color: whitesmoke;
  font-weight: bolder;
  text-decoration: none;
}

footer a:hover{
  background-color: var(--cor1);
  color: var(--cor5);

}
